#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #afddaf;
}

